body {
    background-color: rgb(245, 201, 235);
    font-family:verdana ;
  }
h1 {
    color:black;
    font-family:verdana;
  }
p {
    color:black;
    font-family: Courier, monospace;
    font-style: oblique;
    font-size: 20px
  }

  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 23.315%; 
    text-align: center;
  }
  .navbar a:hover {
    background-color: rgb(231, 175, 217);
  }
  .navbar a.active {
    background-color: rgb(231, 175, 217);
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 50%;
      text-align: left;
    }
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
  }