body {
    background-color:rgb(69, 190, 69);
    font-family:verdana ;
  }
h1 {
    color:white;
    font-family:verdana;
  }
h2 {
      color:white;
      font-family:verdana;
  }
h3 {
    color:white;
    font-family:verdana;
  }
p {
    color:white;
    font-family:verdana;
  }
ol {
    color:white;
    font-family:verdana;
  }